


    
            <div class="col-md-4 bg-white border border-left-0">
                <h3 class="text-center mt-4">Datos Empresa</h3>
                <div class="">
                    <div class="mt-4 text-center">
                        <label class="input_1" placeholder="ruc" oninput=" = ''" name="fname">Ruc: @ViewBag.ruc</label>
                    </div>
                    <div class="mt-4 text-center">
                        <label class="input_1" placeholder="codigoParticipante" oninput=" = ''" name="fname">Código Participante: @ViewBag.codigoParticipante</label>
                        <!--<input placeholder="ingrese código" oninput=" = ''" name="codigo">-->
                    </div>
                    <div class="mt-4 text-center">
                        <label class="input_2" placeholder="email" oninput=" = ''" name="fname">Email: @ViewBag.email</label>
                        <!--<input placeholder="ingrese E-mail" oninput=" = ''" name="email">-->
                    </div>
                    <div class="mt-4 text-center">
                        <label></label>
                        <input placeholder="ingrese E-mail" oninput=" = ''" name="email">
                    </div>
                    <div class="mt-4 text-center mb-5">
                        <!--<button type="button" class="btn btn-primary float-right mr-3 mb-5">Aceptar</button>-->
                        <a class="btn btn-primary float-right mr-3 mb-5" href="#" role="button">Aceptar</a>
                    </div>
                </div>
            </div>
   
