* {
  box-sizing: border-box;
	
}
body {
  /*background-color: #f1f1f1;*/
	background-image:url("../images/back_2.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}
/*.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place front is invalid - may break your css so removed */
    padding-top: 100px; /* Location of the box - don't know what this does?  If it is to move your modal down by 100px, then just change top below to 100px and remove this*/
    left: 0;
    right: 0; /* Full width (left and right 0) */
    top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 9999; /* Sit on top - higher than any other z-index in your site*/
}*/
h1 {
  text-align: center;
}
input {
  padding: 8px;
  width: 90%;
  font-size: 15px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  margin: 0 auto;
}
input.invalid {
  background-color: rgba(195, 12, 76, 0.52);
}
.input_1{
	 background-color:#E51F4A;
	width: 90%;
	border: solid 1px #B7B7B7;
	padding: 7px;
	color: #FFFFFF;
	font-size: 15px;
	border-radius: 10px;
	margin: auto;
	font-weight: 800;
}
.input_2{
	 background-color:#3FB15E;
	width: 90%;
	border: solid 1px #B7B7B7;
	padding: 7px;
	color: #FFFFFF;
	font-size: 15px;
	border-radius: 10px;
	margin: auto;
	font-weight: 800;
}
.tab {
  display: none;
}
button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
#prevBtn {
  background-color: #bbbbbb;
}


/*___--_-_---___----*/
#stepProgressBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.step {
  text-align: center;
}
.step {
  margin-bottom: 10px;
  color: #28a745;
  border: solid 2px #4CAF50;
}
li.nav-item{
	z-index: 1000
}
/*_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20px;
    z-index: 1;
}
/*.wizard .nav-tabs {
        position: relative;
        margin-bottom: 0;
        border-bottom-color: transparent;
    }

    .wizard > div.wizard-inner {
            position: relative;
    margin-bottom: 50px;
    text-align: center;
    }

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
        background: #0db02b;
    color: #fff;
    border-color: #0db02b;
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}
.wizard .nav-tabs > li.active > a i{
	color: #0db02b;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}



.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}
.wizard .nav-tabs > li a i{
	position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}
*/










